@model TermsConditionsViewModel
@{
    ViewData["Title"] = "Terms and conditions, privacy policy and subsidy control";
    var verticalErrorStyle = !ViewData.ModelState.IsValid ? "govuk-form-group--error" : string.Empty;
    var termsConditionsSelection = Model.TermsConditions == "on" ? "checked" : "";
    var privacyPolicySelection = Model.PrivacyPolicy == "on" ? "checked" : "";
    var subsidyControlSelection = Model.SubsidyControl == "on" ? "checked" : "";

}
<div class="govuk-width-container">
  <nav class="govuk-!-margin-bottom-9">
    <a class="govuk-back-link  govuk-!-margin-top-0 govuk-!-margin-bottom-0">Back</a>
  </nav>
  <partial name="_ValidationSummary" model="ViewData.ModelState" />
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" asp-action="index" method="post">
        <div class="govuk-form-group @verticalErrorStyle">
          <fieldset class="govuk-fieldset">
            <legend class="govuk-fieldset__legend govuk-fieldset__legend--l">
              <span class="govuk-caption-l">Section 3 of 4</span>
              <h1 class="govuk-fieldset__heading">
                Terms and conditions, privacy policy and subsidy control
              </h1>
            </legend>
            <p>
              Before you apply for a software discount for <strong>@Model.SelectedProduct</strong>, you will need to read and accept the <a href="/termsandconditions/terms" class="govuk-link">terms and conditions</a>, <a href="/termsandconditions/privacy" class="govuk-link">privacy policy</a> and <a href="/termsandconditions/subsidy">subsidy control</a>.
            </p>
            <span asp-validation-for="TermsConditions" class="govuk-error-message"></span>

            <div class="govuk-checkboxes" data-module="govuk-checkboxes">
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="TermsConditions" name="TermsConditions" type="checkbox" @termsConditionsSelection>

                <label class="govuk-label govuk-checkboxes__label" for="TermsConditions">
                  I have read and accept the terms and conditions
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="PrivacyPolicy" name="PrivacyPolicy" type="checkbox" @privacyPolicySelection>
                <label class="govuk-label govuk-checkboxes__label" for="PrivacyPolicy">
                  I have read and accept the privacy policy
                </label>
              </div>
              <div class="govuk-checkboxes__item">
                <input class="govuk-checkboxes__input" id="SubsidyControl" name="SubsidyControl" type="checkbox" @subsidyControlSelection>
                <label class="govuk-label govuk-checkboxes__label" for="SubsidyControl">
                  I have read and accept the subsidy control
                </label>
              </div>

            </div>
          </fieldset>
        </div>
        <button class="govuk-button" data-module="govuk-button">
          Accept and continue
        </button>
      </form>
    </div>
  </div>
</div><script src="~/js/voucher/navigation.js"></script>