@model UsefulLinksViewModel
@{
    ViewData["Title"] = "Privacy Policy";
}
<div class="govuk-width-container">
    <nav class="govuk-!-margin-bottom-9">
        <a class="govuk-back-link govuk-!-margin-top-0 govuk-!-margin-bottom-0">Back</a>
    </nav>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
        <h1 class="govuk-heading-l">Help to Grow: Digital – Privacy Policy</h1>
        <ol class="govuk-list govukcontents-list__list">
            <li>– <a href="#background">Background</a></li>
            <li>– <a href="#your-data">Your Data</a></li>
            <li>– <a href="#purpose">Purpose</a></li>
            <li>– <a href="#legal-basis-of-processing">Legal basis of processing</a></li>
            <li>– <a href="#other-data-processing">Other data processing</a></li>
            <li>– <a href="#how-we-protect-your-data-and-keep-it-secure">How we protect your data and keep it secure</a></li>
            <li>– <a href="#recipients">Recipients</a></li>
            <li>– <a href="#retention">Retention</a></li>
            <li>– <a href="#your-rights">Your Rights</a></li>
            <li>– <a href="#where-do-we-process-your-personal-data">Where do we process your personal data?</a></li>
            <li>– <a href="#complaints">Complaints</a></li>
            <li>– <a href="#contact-details">Contact Details</a></li>
            <li>– <a href="#updates-to-this-notice">Updates to this notice</a></li>
          </ol>
            <p class="govuk-body">
                This notice sets out how we will use your personal data, and your rights. It is made under Articles 13 and/or 14 of the UK General Data Protection Regulation (UK GDPR).
            </p>
            <p class="govuk-body">
                This notice relates to data collected under the Help to Grow: Digital scheme (“the scheme”) run by the UK Government Department for Business, Energy and Industrial Strategy (“BEIS”).
            </p>
            <h2 class="govuk-heading-m" id="background">Background</h2>
            <p class="govuk-body">
                The Help to Grow: Digital scheme is funded and administered by BEIS. BEIS is the Data Controller. If an external scheme administrator is appointed and, or any of these arrangements change, you will be notified via email. The recipients listed below will be Data Processors for the Help to Grow: Digital scheme.
            </p>
            <p class="govuk-body">
               References to “we” and “our” in this Privacy Policy mean BEIS. Any references in this Privacy Policy to “you” or “your” means the Scheme Participant.
            </p>
            <h2 class="govuk-heading-m" id="your-data">Your Data</h2>
            <p class="govuk-body">
                We will process the following personal data:
                <ul class="govuk-list govuk-list--bullet">
                    <li>First name</li>
                    <li>Surname</li>
                    <li>Email address</li>
                    <li>Phone number</li>
                    <li>Applicant position/role within the SME</li>
                    <li>IP address</li>
                </ul>
            </p>
            <h2 class="govuk-heading-m" id="purpose">Purpose</h2>
            <p class="govuk-body">
                The purpose(s) for which we are processing your personal data is to manage your participation in the Help to Grow: Digital scheme, which includes to assess your eligibility for the scheme, to process your application for and issue you with financial discounts (grant token), to evaluate the performance of the scheme, as well as to provide other information or to contact you from time to time and to update you further on Help to Grow: Digital. We are also processing your personal data to monitor web traffic via web analytics, including IP address and pages visited and interacted with.
            </p>
            <p class="govuk-body">
                Your data may also be used for statistical, research and where it is necessary for the purposes of the prevention, investigation, detection, or prosecution of criminal offences, including fraud.
            </p>
            <h2 class="govuk-heading-m" id="legal-basis-of-processing">Legal basis of processing </h2>
            <p class="govuk-body">
                The legal basis for processing your personal data is Public Task: Processing is necessary for the performance of a task carried out in the public interest or in the exercise of official authority vested in BEIS. In this case, to process your participation in the Help to Grow: Digital scheme and related activities, and to contact you regarding any future Help to Grow: Digital scheme updates.
            </p>
            <p class="govuk-body">
                For marketing and communications purposes, the legal basis for processing your personal data is <strong>Consent:</strong> You consent to us doing so.
            </p>
            <p class="govuk-body">
                The table below sets this out in further detail:
            </p>
            <table class="govuk-table govuk-!-margin-bottom-9">
                <thead class="govuk-table__head">
                    <tr class="govuk-table__row">
                        <th scope="col" class="govuk-table__header">Categories of Personal Data</th>
                        <th scope="col" class="govuk-table__header">Who do we collect this from?</th>
                        <th scope="col" class="govuk-table__header">Purpose of Processing</th>
                        <th scope="col" class="govuk-table__header">Lawful Basis for Processing</th>
                    </tr>
                </thead>
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">
                            <ul class="govuk-list govuk-list--bullet">
                                <li>First name</li>
                                <li>Surname</li>
                                <li>Email address</li>
                                <li>Phone number</li>
                                <li>Applicant position/role within the SME</li>
                                <li>IP address</li>
                            </ul>
                        </td>
                        <td class="govuk-table__cell">SME applicant for discount (grant token)</td>
                        <td class="govuk-table__cell">
                            <strong>Scheme Administration</strong>
                            <p class="govuk-body">
                                We will process your personal data to administer the Help to Grow: Digital scheme, and in the following circumstances:                                
                            </p>
                                <p>- when carrying out any of our lawful functions</p>
                                <p>- to assess your eligibility for participation in the scheme</p>
                                <p>- to process your application for the scheme</p>
                                <p>- for the purposes of the prevention, investigation, detection or prosecution of criminal offences including fraud, and if fraud is identified pursuing debt recovery</p>
                                <p>- to prevent, detect or prosecute a crime</p>
                                <p>- to bring civil proceedings and/or debt recovery as grant guarantor</p>
                                <p>- to review compliance with scheme terms and conditions</p>
                                <p>- for case management, including evidence analysis and storage in line with statutory obligations</p>
                                <p>- to undertake statistical and analytical analysis</p>
                                <p>- to check the data we hold about you is accurate and up to date, and to compare it against other information to help combat fraud and crime</p>
                                <p>- provide customer service</p>
                                <p>- to provide customer service, manage enquiries and complaints and/or to respond to questions sent to the department</p>                                
                        </td>
                        <td class="govuk-table__cell">Public Task</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">
                            <ul class="govuk-list govuk-list--bullet">
                                <li>First name</li>
                                <li>Surname</li>
                                <li>Email address</li>
                                <li>Phone number</li>
                                <li>Applicant position/role within the SME</li>
                                <li>IP address</li>
                            </ul>
                        </td>
                        <td class="govuk-table__cell">SME applicant for discount (grant token)</td>
                        <td class="govuk-table__cell">
                            <strong>Evaluation</strong>
                            <p class="govuk-body">
                                For an external research contractor to carry out an evaluation of the Help to Grow: Digital scheme and apply learning in order to improve the Scheme.
                            </p>
                        </td>
                        <td class="govuk-table__cell">Public Task</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">
                            <ul class="govuk-list govuk-list--bullet">
                                <li>First name</li>
                                <li>Surname</li>
                                <li>Email address</li>
                                <li>Phone number</li>
                                <li>Applicant position/role within the SME</li>
                                <li>IP address</li>
                            </ul>
                        </td>
                        <td class="govuk-table__cell">SME applicant for discount (grant token)</td>
                        <td class="govuk-table__cell">
                            <strong>Marketing communications</strong>
                            <p class="govuk-body">
                                To contact the SME applicant for the discount (grant token) from time to time, to keep them informed about news, updates and events relating to Help to Grow: Digital, communicate with them about past and current applications for discounts (grant tokens), including offering support in the event of its expiry, and support them with their discount (grant token) applications and redemptions and software purchases, and for any other specifically identified marketing and communications purposes.
                            </p>
                        </td>
                        <td class="govuk-table__cell">Consent</td>
                    </tr>
                     <tr class="govuk-table__row">
                        <td class="govuk-table__cell">
                            <ul class="govuk-list govuk-list--bullet">
                                <li>First name</li>
                                <li>Surname</li>
                                <li>Email address</li>
                                <li>Phone number</li>
                                <li>Applicant position/role within the SME</li>
                                <li>IP address</li>
                            </ul>
                        </td>
                        <td class="govuk-table__cell">SME applicant for discount (grant token)</td>
                        <td class="govuk-table__cell">
                            <strong>Marketing communications</strong>
                            <p class="govuk-body">
                                To contact the SME applicant for the discount (grant token) from time to time, to keep them informed about news, updates and events relating to Help to Grow: Digital, communicate with them about past and current applications for discounts (grant tokens), including offering support in the event of its expiry, and support them with their discount (grant token) applications and redemptions and software purchases, and for any other specifically identified marketing and communications purposes.
                            </p>
                        </td>
                        <td class="govuk-table__cell">Consent</td>
                    </tr>
                     <tr class="govuk-table__row">
                        <td class="govuk-table__cell">
                            <ul class="govuk-list govuk-list--bullet">
                                <li>First name</li>
                                <li>Surname</li>
                                <li>Email address</li>
                                <li>Phone number</li>                                
                                <li>IP address</li>
                            </ul>
                        </td>
                        <td class="govuk-table__cell">Website visitors who want to receive information on future changes, updates and news to the scheme through the Expression of Interest online form</td>
                        <td class="govuk-table__cell">
                            <strong>Marketing communications</strong>
                            <p class="govuk-body">
                                To contact website visitors who have completed the Expression of Interest form, from time to time, to keep them informed about news, updates and events relating to Help to Grow: Digital, and for any other specifically identified marketing and communications purposes.
                            </p>
                        </td>
                        <td class="govuk-table__cell">Consent</td>
                    </tr>
                     <tr class="govuk-table__row">
                        <td class="govuk-table__cell">
                            <ul class="govuk-list govuk-list--bullet">
                                <li>Email address</li>                                
                                <li>IP address</li>
                            </ul>
                        </td>
                        <td class="govuk-table__cell">Website visitors who want to email themselves their answers and results from the interactive diagnostic tool and e-learning modules</td>
                        <td class="govuk-table__cell">
                            <strong>Marketing communications</strong>
                            <p class="govuk-body">
                                To contact website visitors who have completed the diagnostic tool and e-learning modules, from time to time, to keep them informed about news, updates and events relating to Help to Grow: Digital, and for any other specifically identified marketing and communications purposes.
                            </p>
                        </td>
                        <td class="govuk-table__cell">Consent</td>
                    </tr>
                    <tr class="govuk-table__row">
                        <td class="govuk-table__cell">
                            <ul class="govuk-list govuk-list--bullet">                                                           
                                <li>IP address</li>
                            </ul>
                        </td>
                        <td class="govuk-table__cell">Website users</td>
                        <td class="govuk-table__cell">
                            <strong>Technical data</strong>
                            <p class="govuk-body">
                                We may collect your cookie data to allow us to distinguish you from other users of our website, which helps us to provide you with a personalised experience when browsing our website and allows us to improve our site, as well as to analyse visitor information.
                            </p>
                        </td>
                        <td class="govuk-table__cell">Consent</td>
                    </tr>
                </tbody>
            </table>
            <h2 class="govuk-heading-m" id="other-data-processing">Other data processing</h2>
            <p class="govuk-body">
                Data about your SME, excluding any personal data listed above, will be shared with HMRC in connection with the promotion of the Help to Grow: Digital Scheme. This will enable HMRC to measure the impact of the promotional campaign it intends to run in partnership with the Department for Business, Energy & Industrial Strategy. Data shared with HMRC may include Companies House reference number, VAT number, PAYE number or unique tax reference as well as details of the financial discount you have applied for and received.
            </p>           
            <h2 class="govuk-heading-m" id="how-we-protect-your-data-and-keep-it-secure">How we protect your data and keep it secure </h2>
            <p class="govuk-body">
                We are committed to doing all that we can to keep your data secure. We have set up systems and processes to prevent unauthorised access or disclosure of your data – for example, we protect your data using varying levels of encryption. We also make sure that any third parties that we deal with keep all personal data they process on our behalf secure.
            </p>           
            <h2 class="govuk-heading-m" id="recipients">Recipients</h2>
            <p class="govuk-body">
                Your personal data will be shared by us with:
                <ul class="govuk-list govuk-list--bullet">
                    <li>Any Government department involved in the Help to Grow: Digital Scheme and their delivery partners</li>
                    <li>Scheme Administrator, if appointed, for the administration of the Help to Grow: Digital scheme</li>
                    <li>BEIS Monitoring and evaluation partners (RSM UK Consulting LLP, BiT and NESTA)</li>
                    <li>Matt Hamnett & Associates (MH+A) Ltd for scheme administration support purposes</li>
                    <li>PricewaterhouseCoopers (PwC) for scheme administration support purposes</li>
                    <li>BEIS marketing and communications delivery partners and third parties (Blueberry Marketing, Kantar Public UK Ltd, Omnicom Media Group UK Ltd T/A Manning Gottlieb OMD), for marketing and communications, supporting discount (grant token) applications and software purchases by the SME applicant, and scheme administration purposes.</li>
                    <li>Registered vendors and key sub-contractors, for marketing and communications, supporting discount (grant token) applications and software purchases by the SME applicant, and for scheme administration purposes (including following up with you if you have applied for a discount (grant token) but not redeemed it). Registered vendors and key sub-contractors are:
                        <ul class="govuk-list govuk-list--bullet">
                            <li>e-Commerce software: Bigcommerce UK Limited, Comgem Limited, EKM Systems Limited, GOb2b Limited, Kentico Software Limited, Platform 21 Limited (ShopWired)</li>
                            <li>Customer Relationship Management (CRM) software: Esteiro Business Solutions Limited (Gold-Vision), Deskpro Limited, Livepoint Software Solutions Limited (Swiftcase), Zestia Limited (Capsule), Zymplify Limited (Zym)</li>
                            <li>Digital Accounting software: E-Crunch Limited, Intuit Limited, Sage (UK) Limited</li>                    
                        </ul>
                    </li>
                    <li>As your personal data will be stored on our IT infrastructure, it will also be shared with our data processors Microsoft and Amazon Web Services</li>
                </ul>
            </p>
            <h2 class="govuk-heading-m" id="recipients">Retention</h2>
            <p class="govuk-body">
                Your personal data will be kept by BEIS for the duration of the Help to Grow: Digital Scheme. The scheme will run for three years. Data held for monitoring and evaluation purposes will be held up until the end of the relevant contracts, currently scheduled until March 2025 unless extended. If extended, data held under evaluation partner contracts will be held for 9-12 months after programme end. Our evaluation and monitoring partners will delete your personal data after expiry of the evaluation contract.
            </p>           
            <h2 class="govuk-heading-m" id="your-rights">Your rights</h2>
            <p class="govuk-body">
                You have the right to request information about how your personal data are processed, and to request a copy of that personal data.
            </p>
            <p class="govuk-body">
                You have the right to request that any inaccuracies in your personal data are rectified without delay.
            </p>
            <p class="govuk-body">
                You have the right to request that any incomplete personal data are completed, including by means of a supplementary statement.
            </p>
            <p class="govuk-body">
                You have the right to request that your personal data are erased if there is no longer a justification for them to be processed.
            </p>
            <p class="govuk-body">
                You have the right in certain circumstances (for example, where accuracy is contested) to request that the processing of your personal data is restricted.
            </p>
            <p class="govuk-body">
                You have the right to object to the processing of your personal data where it is processed for direct marketing purposes.
            </p>
            <p class="govuk-body">
                You have the right to withdraw consent to the processing of your personal data at any time. If you wish to withdraw your consent, please contact: <a href="mailto:SME.helptogrow@beis.gov.uk">SME.helptogrow@beis.gov.uk</a>.
            </p>
            <p class="govuk-body">
                You have the right to object to the processing of your personal data.
            </p>
            <h2 class="govuk-heading-m" id="where-do-we-process-your-personal-data">Where do we process your personal data? </h2>
            <p class="govuk-body">
                BEIS and supporting service providers will process your Personal Data to the extent possible in the United Kingdom or the European Economic Area (EEA). Your Personal Data will be retained on servers located in the United Kingdom.
            </p>
            <p class="govuk-body">
                We will take all steps necessary to ensure that your data is processed and stored in a secure environment, in accordance with our legal obligations. The data that we collect from you may be transferred to, and stored at, a destination outside the European Economic Area (‘EEA'). All suppliers and contractors we use to process data are bound by contract to keep it secure in accordance with UK GDPR.
            </p>
            <p class="govuk-body">
                As your personal data is stored on the BEIS IT infrastructure and shared with our data processors Microsoft and Amazon Web Services, it may be transferred and stored securely in the UK and EEA. Where your personal data is stored outside the UK and EEA it will be subject to equivalent legal protection through the use of Model Contract Clauses.
            </p>
            <h2 class="govuk-heading-m" id="complaints">Complaints</h2>
            <p class="govuk-body">
                If you consider that your personal data has been misused or mishandled, you may make a complaint to the Information Commissioner, who is an independent regulator. The Information Commissioner can be contacted at:
            </p>
            <p class="govuk-body">
                Information Commissioner's Office
                <br />Wycliffe House
                <br />Water Lane
                <br />Wilmslow
                <br />Cheshire
                <br />SK9 5AF
                <br />Telephone: 0303 123 1113
                <br />Email: <a href="mailto:casework@ico.org.uk">casework@ico.org.uk</a>
            </p>
            <p class="govuk-body">
                Any complaint to the Information Commissioner is without prejudice to your right to seek redress through the courts.
            </p>
            <h2 class="govuk-heading-m" id="contact-details">Contact Details</h2>
            <p class="govuk-body">
                The data controller for your personal data is the Department for Business, Energy & Industrial Strategy (BEIS). You can contact the BEIS Data Protection Officer at:
            </p>
            <p class="govuk-body">
                BEIS Data Protection Officer
                <br />Department for Business, Energy and Industrial Strategy
                <br />1 Victoria Street
                <br />London
                <br />SW1H 0ET
                <br />Email: <a href="mailto:dataprotection@beis.gov.uk">dataprotection@beis.gov.uk</a>
            </p>
            
            <h2 class="govuk-heading-m" id="updates-to-this-notice">Updates to this notice</h2>
            <p class="govuk-body">
                There may be changes to this privacy notice. Any future change to our privacy policy will only affect how we use any information collected after the date of the change. If you provided information before the change, you will have done so in light of the previous policy statement. We will honour the assurances we gave at the time.                
            </p>
            <p class="govuk-body">
                If this privacy notice changes in any way, we will place an updated version on this page. Regularly reviewing this page ensures you are always aware of what information we collect, how we use it, and under what circumstances we will share it with other parties. The ‘last updated’ date at the bottom of this page will also change and will include details of the changes made.
            </p>
            <p class="govuk-body">
                If these changes materially affect how your personal data is processed in a way that negatively impacts your data protection rights and/or freedoms, we will take additional steps to let you know, as well as updating this page. For instance, if the changes mean a consent you have previously given us no longer applies, we will contact you to request a new consent and not continue to process your personal data on the basis of the old consent.
            </p>
            <p class="govuk-body">
                <strong>Last updated: 25 July 2020</strong> 
            </p>
        </div>

        <partial name="_UsefulLinks" model="Model" />
    </div>
</div><script src="~/js/voucher/navigation.js"></script>