@{
    ViewData["Title"] = "The link is not valid. Please try again.";
}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">There was a problem verifying your email address.</h1>
            <p class="govuk-body">The link is not valid. Please try again.</p>
            <p class="govuk-body"><a asp-action="" asp-controller="Home" class="govuk-link">Start the application process again</a></p>
        </div>
    </div>
