
@model FullNameViewModel
@{
  ViewData["Title"] = "What is your name?";
}
  <nav class="govuk-!-margin-bottom-9">
    <a class="govuk-back-link govuk-!-margin-top-0 govuk-!-margin-bottom-0" asp-controller="CompaniesHouseNumber" asp-action="Index" >Back</a>
  </nav>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" asp-action="index" method="post">
        <partial name="_ValidationSummary" model="ViewData.ModelState" />
          <div class="govuk-form-group" highlight-error-for="Name" error-class="govuk-form-group--error">
            <h1 class="govuk-label-wrapper">
              <label class="govuk-label govuk-label--l" asp-for="@Model.Name">
                What is your name?
              </label>
            </h1>
            <div id="applicant-name-hint" class="govuk-hint">Full name</div>
            <span asp-validation-for="Name" class="govuk-error-message"></span>
            <input asp-for="@Model.Name" class="govuk-input" spellcheck="false" autocomplete="name" aria-describedby="applicant-name-hint">
          </div>
          <button ga-data-action-id="btn-sme-applicant-name-continue" class="govuk-button applicant-name" data-module="govuk-button">Continue</button>
      </form>
    </div>
  </div>
