@{
    ViewData["Title"] = "There was a problem verifying your application";
}
<div class="govuk-width-container">
  <div class="govuk-grid-row">
      <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-l">There was a problem verifying your application.</h1>
          <p class="govuk-body">The company number has already been used. Please check your emails for a verification email and click on the link to confirm your email address.</p>
      </div>
  </div>
</div>