@{
    ViewData["Title"] = "FCA Number Not Found";
}
<div class="govuk-width-container">
  <nav class="govuk-!-margin-bottom-9">
    <a asp-controller="FCA" asp-action="" class="govuk-back-link govuk-!-margin-top-0 govuk-!-margin-bottom-0">Back</a>
  </nav>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-l">The Financial Conduct Authority Mutuals Public Register number could not be found</h1>
      <p>Check you have entered the correct registration number for your mutual society.</p>
      <p>To find your mutual society registration number, you can <a href="https://mutuals.fca.org.uk/" class="govuk-link" target="_blank">search the Financial Conduct Authority Mutuals Public Register (opens a new tab)</a>.</p>
      <p class="govuk-body">Then <a href="getfcanumber" class="govuk-link">re-enter your mutual society registration number.</a></p>
      <div class="govuk-inset-text">
        <p class="govuk-body">
          If the registration number for your mutual society can not be found in the Financial Conduct Authority Mutuals Public Register, you will <strong>not</strong> be able to continue with your application.
        </p>
      </div>
    </div>
  </div>
</div>