$beis-navy-blue:        $navy-blue;
$beis-blue:             $blue;
$beis-blue-feedback:    $royal-blue;
$beis-aqua:             $aqua;
$beis-yellow:           $yellow;
$beis-yellow-light:     $yellow-light;
$beis-grey:             $grey;
$beis-grey-light:       $grey-light;

$beis-text-colour:      $blue;

$beis-primary-button:           $royal-blue;
$beis-primary-button-hover:     govuk-shade($royal-blue, 30%);