$navy-blue:         #1e1a34;
$royal-blue:        #1c1c78;
$blue:              #1d3a64;
$yellow:            #ffb000;
$yellow-light:      #fff7bf;
$aqua:              #7aebc9;
$grey:              #b1b4b6;
$grey-light:        #f3f2f1;