@model GuidanceViewModel
@{
    ViewData["Title"] = "Help to Grow";
}
<div class="govuk-width-container">
    <nav class="govuk-!-margin-bottom-9">
      <a class="govuk-back-link  govuk-!-margin-top-0 govuk-!-margin-bottom-0">Back</a>
    </nav>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">

            <h1 class="govuk-heading-l">General guidance</h1>
            <p class="govuk-body-l">Information for businesses on the Help to Grow: Digital scheme.</p>
            <ol class="govuk-list govukcontents-list__list">
                <li>– <a href="#what-is-help-to-grow-digital">What is Help to Grow: Digital?</a></li>
                <li>– <a href="#what-is-the-business-eligibility-criteria">What is the business eligibility criteria?</a></li>
                <li>– <a href="#what-does-the-software-financial-discount-cover">What does the software financial discount cover?</a></li>
                <li>– <a href="#subsidy-control">Subsidy control</a></li>
                <li>– <a href="#how-long-will-support-be-available">How long will support be available?</a></li>
                <li>– <a href="#how-do-i-apply-for-the-financial-discount">How do I apply for the financial discount?</a></li>
                <li>– <a href="#how-do-i-contact-help-to-grow-gigital">How do I contact Help to Grow: Digital?</a></li>
            </ol>
            <h2 id="what-is-help-to-grow-digital" class="govuk-heading-m">What is Help to Grow: Digital?</h2>
            <p>Help to Grow: Digital is a government-backed, UK-wide scheme that supports eligible SMEs to choose, buy and integrate software into their business.</p>
            <p>Through the scheme you can access:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li><strong>Funding to help buy new software.</strong> Receive a discount of up to 50% or £5,000 (excluding VAT) towards the cost of buying one approved software in the Help to Grow: Digital scheme.</li>
                <li><strong>Articles, case studies and resources.</strong> <a target="_blank" href="@Urls.GetBusinessAdviceAndLearningUrl(Model.LearningPlatformUrl)" class="govuk-link">Learn more</a> about how software and digital practices can help your business.</li>
                <li><strong>1:1 business advice launching in 2022.</strong> From late 2022, you will be able to use the Help to Grow: Digital discount for 1:1 business advice. Register your interest now, and we’ll notify you when the service becomes available.</li>
            </ul>

            <h2 id="what-is-the-business-eligibility-criteria" class="govuk-heading-m">What is the business eligibility criteria?</h2>
            <p>To be eligible for the Help to Grow: Digital discount you <strong>must</strong> meet <strong>all the criteria</strong> below, or your application will be rejected.</p>
            <p>Eligibility and fraud checks are made as part of this application, these will not impact your business’ credit score.</p>
            <h3 id="business-criteria" class="govuk-heading-s">Business criteria</h3>
            <ul class="govuk-list govuk-list--bullet">
                <li><strong>UK registration.</strong> Your business must be registered in the UK <strong>and</strong> be registered with <strong>either</strong> Companies House <strong>or</strong> be a registered society listed on the Financial Conduct Authority’s Mutuals Register.</li>
                <li><strong>Have traded for over 12 months.</strong> Your business must have been <strong>actively</strong> trading for over 12 months prior to the date of application.</li>
                <li><strong>Number of employees.</strong> Your business must have at least 1 employee who is not an owner, which includes an owner-manager, or a trustee or person with significant control over the business. Your business must not have more than a total of 249 employees.</li>
                <li><strong>New software.</strong> Your business must be purchasing the approved software for the first time.</li>
            </ul>
            <h3 id="applicant-criteria" class="govuk-heading-s">Applicant criteria</h3>
            <p>The person applying for the discount must be:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>aged 18 or over</li>
                <li>an employee and/or an owner, including an owner-manager, a trustee or person with significant control over the business</li>
                <li>authorised to agree to the terms and conditions on behalf of the business</li>
                <li>able to confirm receipt of the financial discount will not cause the business to exceed the total threshold for Small Amounts of Financial Assistance or De Minimis. Find out more here: <a href="https://www.economy-ni.gov.uk/articles/de-minimis-aid">subsidy control</a> </li>
            </ul>
            <p>Each financial discount is only valid for the software product you have applied for.</p> 
            <p>The financial discount is only for the use of the business applying and cannot be transferred. All financial discounts should be redeemed before their expiry date (30 days from successful application).</p>

            <h2 id="what-does-the-software-financial-discount-cover" class="govuk-heading-m">What does the software financial discount cover?</h2>
            <p>The discount supports qualifying businesses to purchase software from approved suppliers up to the value of £5,000 (excluding VAT) or 50% of the software’s core costs, for 12 months.</p>
            <p>Costs <strong>not</strong> covered by the discount include:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>planning and delivery services</li>
                <li>any separate one-off payments</li>
                <li>transaction costs</li>
                <li>professional, technical or supplier support services not included as standard </li>
                <li>any costs listed as ‘additional’ </li>
                <li>supplier support packages that are provided at additional cost and provide more than standard supplier support offers</li>
                <li>Value Added Tax (VAT). The discount is applied against the total software product price offered by technology suppliers exclusive of VAT. VAT will be due on the full price of the software product at point of purchase on the supplier website. For example, if a software product costs £1,000 excluding VAT, the VAT due at the point of purchase with a technology supplier would be £200 (20% of the total cost), rather than 20% of the discounted cost </li>
            </ul>

            <h3 id="subsidy-control" class="govuk-heading-s">Subsidy control</h3>
            <p>The financial discount counts towards the total threshold for Small Amounts of Financial Assistance or De Minimis aid that you are allowed to get over a 3-year period. You must check that by receiving this financial discount you will not exceed these thresholds.</p>
            <p>Subject to exchange rate fluctuations, you are able to receive a total of approximately £330,000 in Small Amounts of Financial Assistance (taking into account De Minimis aid received before 1 January 2021) over a period of 3 fiscal years.</p>
            <p>Where you are a goods or wholesale electricity company with operations based in Northern Ireland, or your business is otherwise in scope of the State aid provisions in the Northern Ireland Protocol, the financial discount is provided as De Minimis aid. You are able to receive a total of 200,000 Euros in De Minimis aid over a period of 3 fiscal years.</p>
            <p>For full details, please visit our <a asp-controller="termsandconditions" asp-action="subsidy">subsidy control page.</a></p>

            <h2 id="how-long-will-support-be-available" class="govuk-heading-m">How long will support be available?</h2>            
            <p>The scheme is open for three years from December 2021 onwards. Further information on changes to the scheme will be published on GOV.UK. </p>

            <h2 id="how-do-i-apply-for-the-financial-discount" class="govuk-heading-m">How to apply for the Help to Grow: Digital discount</h2>
            <p>The Help to Grow: Digital discount is currently available from approved suppliers of the following software types:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>Customer Relationship Management (CRM)</li>
                <li>Digital Accounting</li>
                <li>eCommerce</li>                
            </ul>
            <p>Start by checking if <a target="_blank" href="@Urls.GetBusinessEligibilityUrl(Model.LearningPlatformUrl)" class="govuk-link">your business is eligible</a>. This will give you an indication of whether your application will be successful. </p>
            <p><strong>To apply for a discount you will need to:</strong></p>
            
                <p><strong>Step 1:</strong> Choose your software</p>
                <p><strong>Step 2:</strong> Provide information about you and your company as part of the eligibility and fraud checks</p>
                <p><strong>Step 3:</strong> Once the checks are complete, you’ll receive an email. Confirm your email address to continue</p>
                <p><strong>Step 4:</strong> Wait to receive your email confirming if you’ve passed the eligibility and fraud checks</p>
                <p><strong>Step 5:</strong> If successful, you’ll receive a unique link. Use it on the supplier’s website to buy your chosen software</p>                
            
            <p>All discounts need to be redeemed within 30 days from issue. After 30 days, you will need to reapply.</p>
            <p>If you have been issued a financial discount and want to change it, contact <a href="mailto:sme.helptogrow@beis.gov.uk" class="govuk-link">sme.helptogrow@beis.gov.uk</a> and request a change.</p>

            <h2 id="how-do-i-contact-help-to-grow-gigital" class="govuk-heading-m">How do I contact Help to Grow: Digital?</h2>
            <p>Visit the <a href="/getintouch" class="govuk-link">How to get in touch</a> page for further information on how to:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>make an enquiry - this includes enquiries about financial discount applications</li>
                <li>appeal a decision for an unsuccessful financial discount application</li>
                <li>make a complaint</li>
                <li>make a formal request (for example, a Freedom of Information request)</li>
            </ul>
        </div>
        <partial name="_UsefulLinks" model="Model" />
    </div>
</div><script src="~/js/voucher/navigation.js"></script>