@{
    ViewData["Title"] = "This business has already applied for a discount";
}
<div class="govuk-width-container">
    <nav class="govuk-!-margin-bottom-9">
        <a class="govuk-back-link  govuk-!-margin-top-0 govuk-!-margin-bottom-0">Back</a>
    </nav>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">This business has already applied for a discount</h1>
            <p>A link to use the discount was sent to the email address used in that application.</p>
            <p class="govuk-body">You can:</p>
            <ul class="govuk-list govuk-list--bullet">
                <li>buy software using the link in the email</li>
                <li>cancel the application by following instructions in the email</li>
            </ul>           
            <p>Businesses can only apply for 1 discount. Read the <a href="/guidance" class="govuk-link" target="_blank">full Help to Grow: Digital eligibility criteria in our guidance (opens in a new tab)</a>.</p>
        </div>
    </div>
</div><script src="~/js/voucher/navigation.js"></script>