@{
    ViewData["Title"] = "This business has cancelled a discount after using it";
}

    <nav class="govuk-!-margin-bottom-9">
        <a class="govuk-back-link  govuk-!-margin-top-0 govuk-!-margin-bottom-0" jsLink>Back</a>
    </nav>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">This business has cancelled a discount after using it</h1>
            <p class="govuk-body">This business has either cancelled the discount after using it to buy a product, or has signed up to a free trial and cancelled after the trial period has ended.</p>
            <p>You can’t start a new application as businesses can only apply for 1 discount. Read the <a href="/guidance" class="govuk-link" target="_blank">full Help to Grow: Digital eligibility criteria in our guidance (opens in a new tab)</a>.</p>
            <p>
                Contact <a href="mailto:sme.helptogrow@beis.gov.uk" class="govuk-link">sme.helptogrow@beis.gov.uk</a> to find out more or appeal this decision.
            </p>
        </div>

    </div>
<script src="~/js/voucher/navigation.js"></script>