@{
    ViewData["Title"] = "This business has already started an application for a discount";
}

    <nav class="govuk-!-margin-bottom-9">
        <a class="govuk-back-link  govuk-!-margin-top-0 govuk-!-margin-bottom-0" jsLink>Back</a>
    </nav>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">This business has already started an application for a discount</h1>
            <p class="govuk-body">Complete your application using the instructions sent to you at the email address used in the original application.</p>
            <p>Businesses can only apply for 1 discount. Read the <a href="/guidance" class="govuk-link" target="_blank">full Help to Grow: Digital eligibility criteria in our guidance (opens in a new tab)</a>.</p>
        </div>
    </div>

<script src="~/js/voucher/navigation.js"></script>