@{
    ViewData["Title"] = "Your mutual society or credit union is not eligible";
}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">Your mutual society or credit union is not eligible</h1>
            <p>For further guidance on Help to Grow: Digital please visit:  <a href="/guidance" class="govuk-link">General guidance</a>.</p>
        </div>
    </div>
