@{
    ViewData["Title"] = "This business is not eligible for a discount";
}

    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">This business is not eligible for a discount</h1>
            <p>This business isn’t eligible for Help to Grow: Digital. Read the <a href="/guidance" class="govuk-link" target="_blank">full Help to Grow: Digital eligibility criteria in our guidance (opens in a new tab)</a>.</p>
            <p>
                Contact <a href="mailto:sme.helptogrow@beis.gov.uk" class="govuk-link">sme.helptogrow@beis.gov.uk</a> to find out why and appeal this decision if you need to.
            </p>
        </div>
    </div>