@model PhoneNumberViewModel

@{
  ViewData["Title"] = "What is your phone number?";
}

  <nav class="govuk-!-margin-bottom-9">
    <a class="govuk-back-link govuk-!-margin-top-0 govuk-!-margin-bottom-0" asp-controller="ApplicantEmailAddress" asp-action="Index">Back</a>
  </nav>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" asp-action="index" method="post">
        <partial name="_ValidationSummary" model="ViewData.ModelState" />
        <div class="govuk-form-group" highlight-error-for="PhoneNumber" error-class="govuk-form-group--error">
          <h1 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--l" asp-for="PhoneNumber">
              What is your phone number?
            </label>
          </h1>
          <p class="govuk-body">Enter your business telephone number. This could be a landline or mobile.</p>
          <div id="phone-number-hint" class="govuk-hint">Phone number</div>
          <span asp-validation-for="PhoneNumber" class="govuk-error-message"></span>
          <input asp-for="PhoneNumber" class="govuk-input govuk-!-width-three-quarters" spellcheck="false" aria-describedby="phone-number-hint" autocomplete="tel">
        </div>
        <button ga-data-action-id="btn-sme-phone-number-continue" class="govuk-button phone-number" data-module="govuk-button">Continue</button>
      </form>
    </div>
  </div>
