@model PhoneNumberViewModel

@{
  ViewData["Title"] = "What is your phone number?";
}
<div class="govuk-width-container">
  <nav class="govuk-!-margin-bottom-9">
    <a class="govuk-back-link govuk-!-margin-top-0 govuk-!-margin-bottom-0" asp-controller="ApplicantEmailAddress" asp-action="Index">Back</a>
  </nav>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" asp-action="index" method="post">
        <partial name="_ValidationSummary" model="ViewData.ModelState" />
        <div class="govuk-form-group">
          <span class="govuk-caption-l">Section 3 of 4</span>
          <h1 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--l" for="email">
              What is your phone number?
            </label>
          </h1>
          <p class="govuk-body">Enter your phone number so that we can provide support for using your discount.</p>
          <div id="phone-number-hint" class="govuk-hint">Phone number</div>
          <span asp-validation-for="PhoneNumber" class="govuk-error-message"></span>
          <input id="phone" asp-for="@Model.PhoneNumber" class="govuk-input govuk-!-width-three-quarters" spellcheck="false" aria-describedby="phone-number-hint" autocomplete="phone">
        </div>
        <button class="govuk-button phone-number" data-module="govuk-button">Continue</button>
      </form>
    </div>
  </div>
</div>