@model TitleOrRoleViewModel
@{
  ViewData["Title"] = "What is your job title or role in the business?";
}
<div class="govuk-width-container">
  <nav class="govuk-!-margin-bottom-9">
    <a class="govuk-back-link govuk-!-margin-top-0 govuk-!-margin-bottom-0" href="/applicant">Back</a>
  </nav>
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" asp-action="index" method="post">
        <partial name="_ValidationSummary" model="ViewData.ModelState" />
          <div class="govuk-form-group">
            <span class="govuk-caption-l">Section 3 of 4</span>
            <h1 class="govuk-label-wrapper">
              <label class="govuk-label govuk-label--l" for="business-role">
                What is your job title or role in the business?
              </label>
            </h1>
            <div id="business-role-hint" class="govuk-hint">Enter your job title or role.</div>
            <span asp-validation-for="BusinessRole" class="govuk-error-message"></span>
            <input id="business-role" asp-for="@Model.BusinessRole" class="govuk-input" type="text" spellcheck="false" autocomplete="name"  aria-describedby="business-role-hint" />
          </div>
          <button class="govuk-button business-role" data-module="govuk-button">Continue</button>
      </form>
    </div>
  </div>
</div>