@model Uri
@{
    ViewData["Title"] = "Your voucher has been cancelled";
}
<div class="govuk-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">
                Your voucher has not been cancelled</h1>
            <p class="govuk-body">Unfortunately, it is not possible to cancel your voucher. Reasons for this may include an incomplete Help to Grow: Digital application or a voucher that has already been applied to a software product.</p>
            <p class="govuk-body">If you would like to enquire about this decision, please contact the Help to Grow: Digital team at: <a href="mailto:sme.helptogrow@beis.gov.uk">sme.helptogrow@beis.gov.uk</a>.</p>
            <p class="govuk-body">For the full terms and conditions, including information about voucher cancellation, please visit: <a asp-controller="termsandconditions" asp-action="terms" class="govuk-link" target="_blank">terms and conditions (opens in new tab)</a>.</p>
</div>
    </div>
</div>
