@model Uri   
@{
    ViewData["Title"] = "Your voucher has been cancelled";
}
<div class="govuk-width-container">
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">Your voucher has been cancelled</h1>
            <p class="govuk-body">If you have requested this cancellation by accident and would like to join our mailing list again, please email: <a href="mailto:sme.helptogrow@beis.gov.uk">sme.helptogrow@beis.gov.uk</a>.</p>           
            <p class="govuk-body">For more information about the Help to Grow: Digital scheme, please visit our <a href="@Model" class="govuk-link" target="_blank">home page (opens in new tab)</a>.</p>
        </div>
    </div>
</div>