@model Beis.HelpToGrow.Voucher.Web.Models.CompaniesHouse.CompanySizeViewModel
@{
    ViewData["Title"] = "How many employees does the business have?";
    var verticalErrorStyle = !ViewData.ModelState.IsValid ? "govuk-form-group--error" : string.Empty;
    var employeeNumbers = Model.EmployeeNumbers == 0 ? string.Empty : Model.EmployeeNumbers.ToString();
}
<div class="govuk-width-container">
  <nav class="govuk-!-margin-bottom-9">
    <a class="govuk-back-link govuk-!-margin-top-0 govuk-!-margin-bottom-0" href="companysize/back">Back</a>
  </nav>
  <partial name="_ValidationSummary" model="ViewData.ModelState" />
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <form class="form" asp-action="index" method="post">
        <div class="govuk-form-group @verticalErrorStyle">
          <span class="govuk-caption-l">Section 2 of 4</span>
          <h1 class="govuk-label-wrapper">
            <label class="govuk-label govuk-label--l" id="employee-numbers-hint">
              How many employees does the business have?
            </label>
          </h1>
          <p class="govuk-body">To be eligible for the scheme the business must have between 1 and 249 employees.</p>
          <label class="govuk-label" for="number-of-employees">Number of employees</label>
          <span asp-validation-for="EmployeeNumbers" class="govuk-error-message"></span>
          <input id="number-of-employees" asp-for="EmployeeNumbers" class="govuk-input govuk-input--width-5" type="text" value="@employeeNumbers" aria-describedby="employee-numbers-hint" />
        </div>
        <button class="govuk-button employee-numbers" data-module="govuk-button">Continue</button>
      </form>
    </div>
  </div>
</div>