@model Beis.HelpToGrow.Voucher.Web.Models.CompaniesHouse.CompanySizeViewModel
@{
    ViewData["Title"] = "How many employees does the business have?";
    var employeeNumbers = Model.EmployeeNumbers == 0 ? string.Empty : Model.EmployeeNumbers.ToString();
}

<nav class="govuk-!-margin-bottom-9">
   <a class="govuk-back-link govuk-!-margin-top-0 govuk-!-margin-bottom-0" href="companysize/back">Back</a>
</nav>
<div class="govuk-grid-row">
   <div class="govuk-grid-column-two-thirds">
    <partial name="_ValidationSummary" model="ViewData.ModelState" />
      <form class="form" asp-action="index" method="post">
         <div class="govuk-form-group" highlight-error-for="EmployeeNumbers" error-class="govuk-form-group--error">
            <h1 class="govuk-heading-l" id="employee-numbers-hint">
               How many employees does the business have?
            </h1>
            <p class="govuk-body">
               To be eligible for the scheme the business must have between 1 and 249 employees.
               <a href="/guidance" class="govuk-link">
                  Read our General Guidance for more information about employee criteria
               </a>
            </p>
            <label class="govuk-label" asp-for="EmployeeNumbers">Number of employees</label>
            <span asp-validation-for="EmployeeNumbers" class="govuk-error-message"></span>
            <input asp-for="EmployeeNumbers" class="govuk-input govuk-input--width-5" type="text" value="@employeeNumbers" aria-describedby="employee-numbers-hint" />
         </div>
         <button ga-data-action-id="btn-sme-no-of-employee-continue" class="govuk-button employee-numbers" data-module="govuk-button">Continue</button>
      </form>
   </div>
</div>
